@import 'dex.css';
@import 'reset.css';
@import 'search.css';
@import 'scroll.css';
@import 'reset.css';
@import 'types.css';

body {
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../imagens/BG-LIGHT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #333333;
    overflow: hidden;

}

body.dark-mode {
    background-image: url(../imagens/BG-DARK.jpeg);
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-right: 75px;
}

header .logo {
    width: 115px;
    margin-top: 10%;
    transition: 0.2s ease-in-out;
}

header .img-button {
    width: 100px;
    transition: 0.2s ease-in-out;
}

header .logo {
    padding-left: 15px;
}

header #theme {
    width: 50px;
    padding-right: 50px;
    border: none;
    background: none;
    cursor: pointer;
}

header .logo:hover,
header .img-button:hover {
    transform: scale(1.20);
    cursor: pointer;
}

main .card:hover {
    transform: scale(1.10);
    cursor: pointer;

}

.card:hover {
    height: 460px;
}

main {
    font-family: 'Poppins', sans-serif;
    max-width: 80%;
    margin: 0 auto;
    color: #333333;
    max-height: 65vh;
    overflow-y: auto;
    padding: 25px;
}

main .card .info {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    width: 190px;
    border-radius: 10px;
}

main .card .info span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .card .sprite {
    width: 150px;
    height: 150px;
    opacity: 1;
}

main .card .types {
    display: flex;
    gap: 15px;
}

main .card .type {
    padding: 8px;
    border-radius: 10px;
    color: white;
    min-width: 75px;
    text-align: center;
}

main .Details {
    max-height: 110px;
    overflow-y: auto;
    font-size: 14px;
    padding-right: 10px;
}

.center {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    margin: 0 auto;
    padding: 25px;
}

.imgdex {
    width: 50vw;
    margin-top: -5%;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    background-color: rgba(217, 225, 231, 0.75);
    width: 250px;
    height: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    border: 1px solid #333333;
}

.dark-mode .card {
    background-color: rgba(168, 168, 168, 0.75);
}

.shiny-img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: gray;
}

.shiny-button {
    width: 20px;
    height: 20px;
    border: 1px;
    cursor: pointer;
    border-radius: 100%;
}

.shiny-click {
    background: gold !important;
}